@import "colors";

body {
  margin: 0;
  background: var(--page-bg);
}

.icon {
  &_close {
    content: url("@/assets/icons/carbon_close.svg");
  }
}

.skeleton {
  background: var(--skeleton);
}

.panel {
  background: var(--panel-bg);
  border: 1px solid var(--panel-border);
  border-radius: 12px;
}
