:root {
  --page-bg: #1D1D1D;
  --panel-bg: #262626;
  --panel-border: #4D4D4D;
  --skeleton-gradient: linear-gradient(90deg, #3C3C3C 0%, #444444 51.04%, #333333 100%);
  --icon-color: #FFFFFF;
  --hover-bg: #2F2F2F;
  --primary-red: #FA7272;
  --primary-black: #2D2D2D;
  --panel-over-bg: rgba(38, 38, 38, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: #F5F6F7;
    --panel-bg: #FFFFFF;
    --panel-border: #F0F0F8;
    --skeleton-gradient: linear-gradient(90deg, #ededed 0%, #d9d9d9 51.04%, #f2f2f2 100%);
    --icon-color: #000000;
    --hover-bg: #f2f2f2;
    --panel-over-bg: rgba(242, 242, 242, 0.5);
    --primary-black: #FFF;
  }
}
