.profile {
  padding: 18px 14px;
  width: max-content;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__image {

  }

  &-text {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-inline: 9px;
  }

  &__heading {
    height: 26px;
    border-radius: 8px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;

    &-line {
      height: 10px;
      border-radius: 4px;

      &_1 {
        width: 155px;
      }
      &_2 {
        width: 190px;
      }
      &_3 {
        width: 170px;
      }
      &_4 {
        width: 160px;
      }
      &_5 {
        width: 140px;
      }
      &_6 {
        width: 80px;
      }
    }
  }
}
